@page
@model Accessories_Store.Pages.MoreModel
@{
    ViewData["Title"] = "Clean Text Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Your ASP.NET Core Application</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="container">
        <h1>Welcome to The Management Front Page</h1>
        <p>Here you can check the availability of certain products and the data on sales and invetory</p>

        <h2>Products</h2>
        <p>Here you can visualize the availability of products based on vendors, brand and cathegory</p>

        <h2>Inventory</h2>
        <p>Here you can view the inventory available, the total ammount of products in inventory.</p>

        <h2>Sales</h2>
        <p>Here you can view the total amount of sales if we were to sell everything.</p>

        <p>Feel free to contact the IT Manager Department Bud George for more information.</p>

        <p>
            For more information, visit our <a href="https://localhost:7063/">website</a>.
        </p>
    </div>
</body>
</html>
